pkgbase = shine
	pkgdesc = Super fast fixed-point MP3 encoder
	pkgver = 3.1.1
	pkgrel = 2
	url = https://github.com/savonet/shine
	arch = arm
	arch = i686
	arch = x86_64
	license = GPL2
	makedepends = automake
	makedepends = autoconf
	makedepends = make
	makedepends = libtool
	depends = glibc
	options = !libtool
	options = !strip
	source = shine-3.1.1.tar.gz::https://github.com/toots/shine/archive/3.1.1.tar.gz
	sha512sums = 57b017d22b373507844870ea5837962488f4a0e2238df7b79c837df0aa8f7304ba82d8d7f55d47980b854518f8e34aa55a9fa40f6260650fd7d23f5a94cd4484

pkgname = shine
